.header_cab{
    background: url("IMG/bg.jpg");

}

.logo_cab{
    width: 50px;
}

.nav_cab{    
    position: absolute;
    top: 30px;
    right: 30px;
}

.menu_cab{
    
}

.lis{
    display: inline;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 4px;
    transition: 2s;
    
}

.lis:hover{
    background-color: rgb(205, 216, 223);
    transition: 2s;
    border: none;
}

.nav_cab a{
    color: honeydew;
    font-size: 16px;
}



main {
    width: 720px;
    
    margin: 50px  auto;

}

form label, form p{
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 8px 0px;
    

}
.input-padrao{
    display: block;
    padding: 8px ;
    margin-bottom: 12px;
    font-size: 20px;
    width: 50%;
}

.input-radio{
    margin: 8px 8px;
}


.botao{
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 25%;
    padding: 18px 12px;
    border:  none;
    border-radius: 20px;
    background-color: rgb(83, 179, 83);
    transition: 2s background;
    margin: 26px 0px;
    
}

.botao:hover{
    background-color: rgb(16, 133, 31);
    transition: 2s background;
    transform: scale(1.2);
}

table{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
thead th{
    background-color: gray;
    padding: 0px 8px;
    border-left: 2px solid #cccccc;
}

table tr{
    margin: 8px;
    border: 2px solid #cccccc;
}
table td{
    padding:0px 8px;
    margin-left: 8px;
    border-left: 2px solid #cccccc;
}

footer{
    
    background: url(IMG/bg.jpg);
    text-align: center;
    

}

footer img{
    width: 50px;
    
}
footer p{
    color: blanchedalmond;
    font-size: 12px;
}


@media screen and (max-width: 480px){

    main{
        width: auto;
        text-align: center;
    }
    form{
        padding-bottom: 22px;
    }
    .input-padrao{
    width: 100%;  
    }
    .botao{
        margin: 0px 20%;
        margin: 0px 20%;
        width: 60%;
    }
    .tabela-div{
        margin: 0px 25%;
    }
}

