body{
    font-family: 'Lobster', cursive;
}

em strong{
    color: Rgb(0,255,0);
}

footer{
    background: url(IMG/bg.jpg);
    text-align: center;
} 

footer img{
    width: 50px;
}

footer p{
    font-size: 8px;
    color: white;
}


 /* =====================================> CLASSES <==============================================*/

.header_cab{
    background: url("IMG/bg.jpg");
    

}





.logo_cab{
    width: 50px;
}

.nav_cab{    
    position: absolute;
    top: 30px;
    right: 30px;
    
    
}

.menu_cab{
    
}

.lis{
    display: inline;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 4px;
    transition: 2s;
    
}

.lis:hover{
    background-color: rgb(205, 216, 223);
    transition: 2s;
    border: none;
}

.nav_cab a{
    color: honeydew;
    font-size: 16px;
}



 .principal{
    margin: 8px;
}
.cab_index{
    
    padding-bottom: 22px;
    
    background-color:rgb(255, 255, 255);
}

main .sep{
    background: linear-gradient(rgb(255, 255, 255),rgb(138, 129, 129));
}
.corpo{
    text-align: center;
    width: 940px;     
    padding-bottom: 24px;
    padding-top: 6px;
    
}

.corpo h2, .mapa h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.corpo h2:before{
    content: " | ";
}

.corpo h2:after{
    content: " |";
}

.ultensilios{
    padding-left:  25%;
    padding-right: 12px;
    float: left;
    width: 150px;
}
.corpo p{
    margin: 0px 18%;
    text-align: justify;
    padding-bottom: 1em;
    padding-left: 125px;
}

.corpo li{
    padding: 8px 0px;
}

.corpo li:before{
    content:"\2606";
}

.corpo em{
    font-style: italic;
}

.corpo strong{
    font-weight: bold;
}

.mapa{
    text-align: center;
    
    padding: 26px;
    width: 940px;
}

.mapa p{
    padding-bottom: 2em;
}

main .sep2{
    background: linear-gradient(rgb(138, 129, 129),rgb(255, 255, 255));
}
.video{
    text-align: center;
    padding: 2em 0em;
    padding-left: 10%;
    width: 940px;
}

.lista{
    
    font-style: italic;
    font-size: 26px;
    
}

.plus{
    background-color: whitesmoke;
}

.conteudo-bene{

}

.lista-bene{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding-right: 18px;
}

.bene{
    padding-top: 12px;
    width: 50%;
}
/* =====================================> ID  <==============================================*/


#TM{
    font-size: 25px;
}


#barb{
    width: 100%;
    
}

#titi2{
    margin-left: 12px;
    font-size: 36px;
    text-align: center;
}

 /* =====================================>   <==============================================*/
/* =====================================> PRODUTO  <==============================================*/
 /* =====================================>   <==============================================*/


nav a{
    color: black;
    font-weight: bolder; 
    font-size: 22px;
    text-decoration: none;
}


    

/* =====================================> CLASSE <==============================================*/


                  


.header_pro{
    background-color: #cccccc;
}
                                
.logo{
                                    
    width: 90px;
    height: 113px;
}

.posi{
    position: absolute;
    top: 50px;
    right: 50px;
}

 

.menu_pro li{
    
    display:inline;
    margin-left: 15px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
}

.menu_pro li:hover{
    
    border-color: goldenrod;

}
.list a:hover{
    color: goldenrod;
}



.produto{
    text-align: center;
}

.produto li{
    display: inline-block;
    text-align: center;
    padding: 18px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 25px;
    width: 300px ;
    height: 375px;
    
}

.produto li:hover {
    border-color: goldenrod;
}

.produto li:hover h2 {
    border-color: goldenrod;
    font-size: 40px;
}
.produto li:active {
    border-color: green;
    border-width: 8px;
    

}
   
.list_text{
   font-weight: bolder;
   font-size: 30px;
}

.list_preco{
    font-weight: bolder;
    font-size: 25px;
    padding-top: 8px;
}

.rodape{
    text-align: center;
    padding: 18px;
    background-color: grey;
    
}

.rodape img{
    height: 83;
    width: 60;
}

.rodape p{
    color: whitesmoke;
    font-size: 12px;
}
/* =====================================> ID  <==============================================*/


#TM{
    font-size: 25px;
}


#barb{
    width: 100%;
}

#titi2{
    margin-left: 12px;
    font-size: 36px;
    text-align: center;
}

/* =====================================>   <==============================================*/
/* =====================================>    <==============================================*/

@media screen and (max-width: 480px){
    

    .header_cab, .corpo, .mapa, .video{
        width: auto;
        padding-bottom: 12px;
    }

    h1{
        text-align: center;
    }

    .nav_cab{
        text-align: center;
        padding: 12px 0px 12px 0px;
        position: static;
        
    }
    .corpo .ultensilios{
        padding-left:  0px;
        padding-right: 0px;
        float: left;
        width: 100px;
        margin: 0px auto
    }

    .corpo p{
        margin: 0 auto;
        text-align: justify;
        padding-left: 0px;
        padding-bottom: 1em;
        
    }
    .video{
        padding-left: 0px;
    }
 
    
    .mapa iframe, .corpo img, .corpo p{
        width: 100%;
    }
    footer{
        height: 170px;
    }
}