

em strong{
    color: Rgb(0,255,0);
}



 /* =====================================> CLASSES <==============================================*/
 .principal{
    margin: 8px;
}
.cab_index{
    padding-top: 22px;
    padding-bottom: 22px;
    margin: 12px;
    background-color: #cccccc;
}



.corpo{
    text-align: center;
    background-color: #cccccc;
    padding-bottom: 12px;
    padding-top: 6px;
}

.lista{
    
    font-style: italic;
    font-size: 26px;
    
}

.plus{
    background-color: whitesmoke;
}

.bene{
    width: 50%;
}
/* =====================================> ID  <==============================================*/


#TM{
    font-size: 25px;
}


#barb{
    width: 100%;
}

#titi2{
    margin-left: 12px;
    font-size: 36px;
    text-align: center;
}

 /* =====================================>   <==============================================*/
/* =====================================> PRODUTO  <==============================================*/
 /* =====================================>   <==============================================*/


nav a{
    color: black;
    font-weight: bolder; 
    font-size: 22px;
    text-decoration: none;
}


    

/* =====================================> CLASSE <==============================================*/


                  


.header_pro{
    background-color: #cccccc;
}
                                
.logo{
                                    
    width: 90px;
    height: 113px;
}

.posi{
    position: absolute;
    top: 50px;
    right: 50px;
}

 

.menu_pro li{
    
    display:inline;
    margin-left: 15px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
}

.menu_pro li:hover{
    
    border-color: goldenrod;

}
.list a:hover{
    color: goldenrod;
}



.produto{
    text-align: center;
}

.produto li{
    display: inline-block;
    text-align: center;
    padding: 18px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 25px;
    width: 300px ;
    height: 375px;
    
}

.produto li:hover {
    border-color: goldenrod;
}

.produto li:hover h2 {
    border-color: goldenrod;
    font-size: 40px;
}
.produto li:active {
    border-color: green;
    border-width: 8px;
    

}
   
.list_text{
   font-weight: bolder;
   font-size: 30px;
}

.list_preco{
    font-weight: bolder;
    font-size: 25px;
    padding-top: 8px;
}

.rodape{
    text-align: center;
    padding: 18px;
    background-color: grey;
    
}

.rodape img{
    height: 83;
    width: 60;
}

.rodape p{
    color: whitesmoke;
    font-size: 12px;
}
/* =====================================> ID  <==============================================*/


#TM{
    font-size: 25px;
}


#barb{
    width: 100%;
}

#titi2{
    margin-left: 12px;
    font-size: 36px;
    text-align: center;
}

/* =====================================>   <==============================================*/
/* =====================================>   <==============================================*/