
.cabecalho{
    background-color: gray;
    
}

.logo{
                                    
    width: 70px;
    
}
nav ul{
    position: absolute;
    right: 20px;
    top: 50px;
}
.lista li{
    display: inline;
    border: 2px solid black;
    border-radius: 20px;
    margin: 6px;
    padding: 8px;
}


main {
    width: 720px;
    
    margin: 50px  auto;

}

form label, form p{
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 8px 0px;
    

}
.input-padrao{
    display: block;
    padding: 8px ;
    margin-bottom: 12px;
    font-size: 20px;
    width: 50%;
}

.input-radio{
    margin: 8px 8px;
}


.botao{
    font-size: 15px;
    font-weight: bold;
    color: white;
    width: 25%;
    padding: 18px 12px;
    border:  none;
    border-radius: 20px;
    background-color: rgb(83, 179, 83);
    transition: 2s background;
    margin: 26px 0px;
    
}

.botao:hover{
    background-color: rgb(16, 133, 31);
    transition: 2s background;
}

table{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
thead th{
    background-color: gray;
    padding: 0px 8px;
    border-left: 2px solid #cccccc;
}

table tr{
    margin: 8px;
    border: 2px solid #cccccc;
}
table td{
    padding:0px 8px;
    margin-left: 8px;
    border-left: 2px solid #cccccc;
}

footer{
    
    background: url(IMG/bg.jpg);
    text-align: center;
    

}

footer img{
    width: 50px;
    
}
footer p{
    color: blanchedalmond;
    font-size: 12px;
}